/*font Variables*/
$primary-font: 'Roboto', sans-serif;

/*Color Variables*/
$primary-color  : #4e2268;
$primary-color2 : #d10753;
$title-color    : #05364d;
$text-color     : #797979;
$offwhite       : #f8faff;
$white          : #fff;

/*=================== fonts ====================*/
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
